<div class="data-table">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Customer</th>
      <th scope="col">Charge Occurence</th>
      <th scope="col">Amount</th>
      <th scope="col">Active</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let subscription of subscriptions">
      <th scope="row" (click)="showModal()"><img>pencil</th>
      <td>{{subscription.contact.firstName}} {{subscription.contact.lastName}}</td>
      <td>{{subscription.paymentPlan.occurrence}}</td>
      <td>{{subscription.paymentPlan.amount}}</td>
      <td>Active</td>
    </tr>
    <tr>
      <th scope="row" (click)="showModal()">+</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
<div *ngIf="displayModal" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-content-fixed">
    <div>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <mat-horizontal-stepper #stepper>
      <mat-step label="Customer" state="chat">
        <div class="row">
          <div class="col-sm-4" *ngFor="let customer of customers">
            <button class="btn btn-primary" (click)="selectCustomer(customer, stepper)"> {{ customer.firstName}} {{customer.lastName}}</button>
          </div>
        </div>
      </mat-step>
      <mat-step label="Payment Plan" state="phone">
        <div class="row">
          <div class="col-sm-4" *ngFor="let paymentPlan of availablePaymentPlans">
            <button class="btn btn-primary" (click)="selectPaymentPlan(paymentPlan, stepper)"> {{ paymentPlan.name }}</button>
          </div>
        </div>
      </mat-step>
      <mat-step label="Start Date">
        <mat-card class="demo-inline-calendar-card">
          <mat-calendar [selected]="selectedDate" (selectedChange)="setDate($event, stepper)"></mat-calendar>
        </mat-card>
      </mat-step>
      <mat-step label="Credit Card">
        <app-card-input></app-card-input>
      </mat-step>
      <mat-step label="Confirmation">
        <div>
          <h5>Customer:</h5>
          <div *ngIf="selectedCustomer">{{selectedCustomer.firstName}} {{selectedCustomer.lastName}}</div>
        </div>
        <div>
          <h5>Payment Plan:</h5>
          <div *ngIf="selectedPaymentPlan">Payment Plan: {{selectedPaymentPlan.name}}</div>
        </div>
        <div>
          <h5>Start Date:</h5>
          <div>{{getStartDate()}}</div>
        </div>
        <div>
          <h5>Card:</h5>
          <div>{{getCard()}}</div>
        </div>
      </mat-step>

      <!-- Icon overrides. -->
      <ng-template matStepperIcon="phone">
        <mat-icon>call_end</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="chat">
        <mat-icon>forum</mat-icon>
      </ng-template>
    </mat-horizontal-stepper>
    <div class="modal-footer fixed">
      <button type="button" class="btn btn-secondary" (click)="stepper.previous()">Previous</button>
      <button *ngIf="!isLastPage(stepper)" type="button" class="btn btn-primary" (click)="stepper.next()">Next</button>
      <button *ngIf="isLastPage(stepper)" [disabled]="!isSubscriptionComplete()" type="button" class="btn btn-primary" (click)="saveSubscription()">Submit</button>
    </div>
  </div>
</div>
