<div class="data-table">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Customer</th>
      <th scope="col">Charge Occurence</th>
      <th scope="col">Amount</th>
      <th scope="col">Active</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row" (click)="showModal()"><img>pencil</th>
      <td>Richard Taylor</td>
      <td>Monthly</td>
      <td>$14.99</td>
      <td>Active</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>James Caldwell</td>
      <td>Monthly</td>
      <td>$14.99</td>
      <td>Frozen</td>
    </tr>
    <tr>
      <th scope="row">+</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
<div *ngIf="displayModal" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-content">
    <div class="modal-title">
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div id="shiftEmployees">
      <div class="card">
        <div class="card-header" id="paymentPlanHeadings">
          <h5 class="mb-0">
            <button class="btn btn-link" aria-expanded="false" aria-controls="shiftCollapse" (click)="togglePaymentPlans()">
              Payment Plans
            </button>
          </h5>
          <div *ngIf="selectedPaymentPlan && selectedPaymentPlan.name">
            {{selectedPaymentPlan.name}}
          </div>
        </div>

        <div id="shiftCollapse" [class]="{'collapse': !paymentPlansExpanded}" aria-labelledby="shiftHeading" data-parent="#shiftEmployees">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-4" *ngFor="let paymentPlan of availablePaymentPlans">
                <button class="btn btn-primary" (click)="selectPaymentPlan(paymentPlan)"> {{ paymentPlan.name }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="customerHeadings">
          <h5 class="mb-0">
            <button class="btn btn-link" aria-expanded="true" aria-controls="shiftCollapse" (click)="toggleCustomers()">
              Customers
            </button>
          </h5>
          <div *ngIf="selectedCustomer && (selectedCustomer.firstName || selectedCustomer.lastName)">
            {{selectedCustomer.firstName}} {{selectedCustomer.lastName}}
          </div>
        </div>

        <div id="customerCollapse" [class]="{'collapse': !customersExpanded}" aria-labelledby="shiftHeading" data-parent="#shiftEmployees">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-4" *ngFor="let customer of customers">
                <button class="btn btn-primary" (click)="selectCustomer(customer)"> {{ customer.firstName}} {{customer.lastName}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="saveSubscription()">Save changes</button>
      <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
    </div>
  </div>
</div>
